body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff; /* Adjusted background color */
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    height: auto;
    overflow-y: auto;
}

h1 {
    font-size: 5.5em;
    color: #1a1a2e;
    text-align: center;
    margin-bottom: 20px;
}

.profile-card {
    background-color: #1a1a2e;
    color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,4.9);
    max-width: 500px;
    width: 900px;
}

.profile-item {
    display: flex;
    justify-content: space-between;
    padding: 13px;
    color: #1a1a2e;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 5px 0;
}

.label {
    font-weight: bold;
}

.value {
    margin-left: 20px;
}

.box {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
