body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1A1B27;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #1A1B27;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.logout-message .icon {
    margin-bottom: 1rem;
}

.icon-circle {
    background-color: #A6F1A6;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.icon-circle i {
    font-size: 36px;
    color: #1A1B27;
}

.logout-message h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #1A1B27;
}

.logout-message p {
    margin: 0.5rem 0;
    color: #888;
}

.logout-message a {
    color: #888;
    text-decoration: none;
}

.logout-message a:hover {
    text-decoration: underline;
}

.logout-message a span {
    color: #1A1B27;
    font-weight: bold;
}
