{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/static/css/myprofile.css">

    <div class="main-content">
        <h1><b>PROFILE</b></h1>
        <div class="profile-card">
            <div class="profile-item">
                <span class="label">First Name :</span>
                <span class="value">Xi Yuan</span>
            </div>
            <br>
            <div class="profile-item">
                <span class="label">Last Name :</span>
                <span class="value">Cheng</span>
            </div>
            <br>
            <div class="profile-item">
                <span class="label">Username :</span>
                <span class="value">xiyuancheng</span>
            </div>
            <br>
            <div class="profile-item">
                <span class="label">Phone Number :</span>
                <span class="value">011-1111 1111</span>
            </div>
            <br>
            <div class="profile-item">
                <span class="label">Email Address :</span>
                <span class="value">xiyuancheng@gmail.com</span>
            </div>
            <br>
            <div class="profile-item">
                <span class="label">Country/ Region :</span>
                <span class="value">Malaysia</span>
            </div>
        </div>
    </div>
{% endblock %}
