<!DOCTYPE html>
<html lang="en">
<!--divinectorweb.com-->
<head>
    <meta charset="UTF-8">
    <title>review</title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="static/css/review.css">
</head>

<body>
    <div class="carousel">
        <a class="carousel-item" href="#">
            <div class="testi">
                <div class="img-area">
                    <img src="static/img/1.jpg">
                </div>
                <h4>Charles John</h4>
                <h5>OrphanCare Foundation</h5>
                <p>"Joining the voluntary program at OrphanCare Foundation was a fulfilling experience. The program was well-organized, and the staff were supportive. I enjoyed working with the children and felt my efforts made a real difference. It's a great opportunity to give back and grow personally."</p>
                <div class="rating" data-rating="5">
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>
        </a>
        <a class="carousel-item" href="#">
            <div class="testi">
                <div class="img-area">
                    <img src="static/img/2.jpg">
                </div>
                <h4>Alex Mike</h4>
                <h5>Elderlove Living Care Centre</h5>
                <p>"Volunteering at Elderlove Living Care Centre was impactful. Activities like organizing social events and assisting with daily tasks brought joy to the elderly residents. A meaningful experience of community care."</p>
                <div class="rating" data-rating="5">
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>
        </a>
        <a class="carousel-item" href="#">
            <div class="testi">
                <div class="img-area">
                    <img src="static/img/3.jpg">
                </div>
                <h4>Johnson</h4>
                <h5>Trinity Community Children Home Society</h5>
                <p>"Volunteering at Trinity Community Children Home Society was incredibly rewarding. The staff were welcoming, and working with the children was heartwarming. A truly enriching experience for personal growth and giving back."</p>
                <div class="rating" data-rating="5">
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>
        </a>
        <a class="carousel-item" href="#">
            <div class="testi">
                <div class="img-area">
                    <img src="static/img/4.jpg">
                </div>
                <h4>Rosey</h4>
                <h5>Amazing Grace Elderly Care Centre</h5>
                <p>"Volunteering at Amazing Grace Elderly Care Centre was rewarding. Engaging in activities like organizing games and providing companionship made a significant difference to the residents. A heartwarming and fulfilling experience."</p>
                <div class="rating" data-rating="5">
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>
        </a>
        <a class="carousel-item" href="#">
            <div class="testi">
                <div class="img-area">
                    <img src="static/img/5.jpg">
                </div>
                <h4>Scarlett Angela</h4>
                <h5>Lovely Disabled Home</h5>
                <p>"Volunteering at Lovely Disabled Home was inspiring. Assisting with daily activities and supporting residents' needs was deeply fulfilling. A truly impactful experience that highlighted the importance of compassion and care."</p>
                <div class="rating" data-rating="5">
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>
        </a>
      
   </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.carousel').carousel({
                padding: 200
            });
            autoplay();
            // function autoplay() {
            //     $('.carousel').carousel('next');
            //     setTimeout(autoplay, 4500);
            // }
        });
    </script>
</body>
</html>
