<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Out</title>
    <link rel="stylesheet" href="/static/css/sign_out.css">
</head>
<body>
    <div class="container">
        <div class="logout-message">
            <div class="icon">
                <div class="icon-circle">
                    <i class="fas fa-sign-out-alt"></i>
                </div>
            </div>
            <h1>You have been logged out</h1>
            <p>Thank you</p>
            <p><a href="/">Need to sign in again? <span>Sign In</span></a></p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
</body>
</html>
